<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="link_jobs"><a href="http://localhost:3000/jobs">IR A JOBS</a></div>
  </body>
</html>
