<!DOCTYPE html>
<html>
  <head>
    <title>Github Jobs</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  </head>
<body>

<div class="container">

  <nav class="nav"> 
  <div class="nav-menu">
    <div class="nav-menu__logo">
        <img class="nav-menu__logo-img" src="../public/images/GitHub_Logo_White.png" alt="Github Jobs"> 
    </div>
    <p class="nav-menu__logo-text">Jobs</p>
</div>
</nav>

<div class="form-container">
<div class="textos">
<h2>Bienvenido al portal de empleos de Github</h2>
<p>Selecciona parámetros de búsqueda</p>
</div>
<form class="form-inline" action="">
  <div class="input-group">
  <label for="ubicacion">Ubicación</label><br>
  <select id="pais" name="pais">
    <option value="0" selected disabled>Seleccione país</option>
    <option value="usa">Estados Unidos</option>
    <option value="canada">Canadá</option>
  </select>
  </div>

  <div class="input-group">
  <label for="trabajo">Puesto de trabajo</label><br>
  <select id="trabajo" name="trabajo">
    <option value="0" selected disabled>Seleccione puesto de trabajo</option>
    <option value="usa">Developer</option>
    <option value="canada">TI</option>
    <option value="canada">UX</option>
    <option value="canada">Python</option>
    <option value="canada">Javascript</option>
    <option value="canada">PHP</option>   
  </select>
</div>

<div class="form-button">
  <br>
  <button type="submit">Buscar empleo</button>
</div>
</form>
</div>

<hr class="division">

<script src="../public/actions/jobs.js"></script>
</body>
</html>