*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

.nav {
  width: 100%;
  height: 5rem;
  display: flex;
  padding: 0.9375rem 3em;
  background-color:dodgerblue;
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: center;
  margin-left: 0;
}

.nav-menu__logo {
  cursor: pointer;
}

.nav-menu__logo img{
  width:90px;
  height: auto;
  align-self: center;
}

.nav-menu__logo-text{
  font-weight: 400;
  font-size: 21px;
  display:inline-block;
  align-self: center;
  color:#fff;
  justify-self: center;
}

.form-container{
  width:65%;
  margin:auto;
}

.form-inline {  
  margin:auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
}

.form-inline label {
  margin: 5px 10px 5px 0;
  font-weight: 600;
  font-size: 14px;
}

.form-inline select {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 250px;
}

.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: royalblue;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline{
    flex-direction: column;
    align-items: stretch;
  }
}

.input-group{
  padding:10px;
}

h2{
  position: relative;
  left:65px;
  text-align: left;
  font-weight: 400;
}

p{
  position: relative;
  left: 65px;
  text-align: left;
  font-weight: 300;
}

.textos{
  padding:15px;
  padding-top: 25px;
}

.division{
  width:100%;
}

.jobs-container{
  padding:25px;
  display:grid;
  height:auto;
  grid-template-columns:  1fr 1fr 1fr 3fr;
  grid-template-rows: 1 / 2;
}