*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

.form-inline {
  width:100%;  
  margin:auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
}

.form-inline label {
  margin: 5px 10px 5px 0;
  font-weight: 600;
  font-size: 14px;
}

.form-inline select {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 250px;
}

.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: royalblue;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }
  
  .form-inline{
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
  }

  .form-inline button{
    align-content: center;
    justify-content: center;
  }

  .form-button{
    align-content: center;
    justify-content: center;
  }
}

.input-group{
  padding:10px;
}

h2{
  font-weight: 400;
}

p{
  font-weight: 300;
  font-size:20px;
}

.division{
  width:100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "company location type"
    "description description description";
}

.description { 
  font-weight: 600;
  grid-area: description;
  padding:25px;
  border: 1px solid #000;
  }

.company { 
  font-weight: 600;
  grid-area: company; 
  padding:25px;
  border: 1px solid #000;
  }

.location { 
  font-weight: 600;
  grid-area: location; 
  padding:25px;
  border: 1px solid #000;
  }

.type { 
  font-weight: 600;
  grid-area: type; 
  padding:25px;
  border: 1px solid #000;
  }

  main{
    padding:15px;
    width:90%;
    margin:0 auto;
    text-align: center;
  }

  ul{
    padding-left:25px;
    list-style-type: circle;
  }

  li{

  }

  strong{
    font-weight:normal;
  }